header.mint-header {

  .mint-button {
    min-width: 1.8rem;
  }
}

button {
  &.mint-button--primary {
    background-color: $theme-color;
  }

  &.mint-button--default {
    color: $theme-color;
    background-color: #f6f8fa;
  }
}
