.multiple {
  background-image: -webkit-linear-gradient(top,#d9d9d9,#d9d9d9 50%,transparent 0);
  background-image: linear-gradient(180deg,#d9d9d9,#d9d9d9 50%,transparent 0);
  background-size: 120% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-origin: content-box;
  -webkit-box-align: center;

  .mint-cell-wrapper {
    padding: 10px;
    background-image: none;

    .mint-cell-title {
      font-size: $font-size-default;
      color: $black-base;
    }

    .mint-cell-sub-title {
      margin-top: .3rem;
      font-size: $font-size-small;
      color: $gray-minor;
    }

    .mint-cell-value {
      display: block;
    }
  }
}
