.mint-cell {
  .mint-cell-wrapper {
    font-size: $font-size-default;
  }
}

.multiple {
  @include border;

  .mint-cell-wrapper {
    padding: 10px;
    background-image: none;

    .mint-cell-title {
      font-size: $font-size-default;
      color: $black-base;
    }

    .mint-cell-sub-title {
      margin-top: .3rem;
      font-size: $font-size-small;
      color: $gray-minor;
    }

    .mint-cell-value {
      display: block;
    }
  }
}

//审批流水
.records {
  background-color: #fff;

  .cus-group-title ~ a {
    margin-top: 8px;
  }

  .mint-cell {
    background-image: none;
    border-left: 1px solid #eaeaea;
    margin-left: 20px;
    overflow: visible;

    &:before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 20px;
      background-color: $gray-light;
      position: absolute;
      left: -11px;
      top: 5px;
      border: 6px solid #fff;
    }

    &.green:before {
      background-color: $primary-color;
    }

    &.red:before {
      background-color: $red-base;
    }
  }
}
