.mint-field {

  &.require {
    .mint-cell-title:before {
      content: "*";
      color: $red-base;
    }
  }

  .mint-cell-title {
    color: $gray-minor;
    font-size: $font-size-default;
  }

  .mint-cell-value {
    color: $black-base;
    font-size: $font-size-default;

    input {
      text-align: right;
    }
  }
}

.readonly {
  .mint-cell {
    min-height: 34px;

    .mint-cell-wrapper {
      background-image: none;

      .mint-cell-title {
        color: $gray-minor;
        font-size: $font-size-small;
      }

      .mint-cell-value {
        color: $black-base;
        font-size: $font-size-small;

        input {
          text-align: left;
        }
      }

      ::-webkit-input-placeholder {
        font-size: 0;
      }
    }
  }
}
