.mint-field {

  .mint-cell-title {
    color: $label-color;
  }

  .mint-cell-value {
    color: $value-color;

    input[readonly] {
      text-align: right;
    }
  }
}

.mint-field.require {

  .mint-cell-title:before {
    content: "*";
    color: $red-base;
  }
}
