$border-width: 3px;

div.mint-navbar {
  padding-bottom: $border-width;

  .mint-tab-item {
    padding: .55rem 0;
    color: $label-color;

    .mint-tab-item-label {
      font-size: $font-size-default;
    }
  }
  .mint-tab-item.is-selected {
    border-width: $border-width;
    color: $theme-color;
    border-color: $theme-color;
  }
}
