body {
  margin: 0;
}

.readonly {
  &input, textarea {
    @include disable;
  }
  input, textarea {
    @include disable;
  }
}

.disable, .readonly {
  @include disable;
}

.enable {
  @include enable;
}

.cus-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .1;
  background: #000;
  z-index: 9;
}

.mint-cell-swipe-button {
  font-size: 0.7rem;
}
