@font-face {
  font-family: "kinlong-icon";
  src: url("../assets/kinlong.ttf") format("truetype");
}

.xs-icon {
  font-family: "kinlong-icon" !important;
  font-style: normal;
  font-size: 1rem;
}

.icon-back:before {
  content: '\A131';
}
.icon-next:before {
  content: '\A132';
}
.icon-add:before {
  content: '\A148';
}
.icon-search:before {
  content: '\A149';
}
.icon-mic:before {
  content: '\A137';
}
.icon-attach:before {
  content: '\A070';
  font-size: 2.5rem;
}
.icon-addr:before {
  content: '\A160';
}
.icon-delete:before {
  content: '\A152';
  color: red;
}
.icon-edit:before {
  content: '\A158';
}
.icon-arrow-down:before {
  content: '\A151';
}
.icon-arrow-up:before {
  content: '\A150';
}
.icon-select:before {
  content: '\A140';
  color: $theme-color;
  font-size: 1.4rem;
}
.icon-minus:before {
  content: '\A155';
}
.icon-add-circle:before {
  content: '\A154';
}
.icon-scan:before {
  content: '\A134';
}


