#app {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;

  > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: #ebebeb;
    // touch-action: none;                 // prevent default touch action
    -webkit-overflow-scrolling: touch;  // scroll effect optimize in safari
  }

  .mint-header, .cus-header {
    &~.mint-content {
      position: relative;
      top: $header-height;
    }
  }

  .mint-content {
    padding-bottom: 2.2rem;
  }
}
